
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif !important;
    background: url(https://media.giphy.com/media/l1J9EGJfi5Ed817mU/giphy.gif) center / cover;
}

i {
    margin: 15px;
    font-size: 1.5em;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

main h2 {
    color: white;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: 70px;
    font-size: 1rem;
    overflow: hidden;
    display: flex;
    color:yellow;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
    border-bottom: yellow 5px solid;
}

.auth-container {
    width: 100%;
    height: 100vh;
    background: url(https://66.media.tumblr.com/785d2a9fcde0637d6f092439e5a5b042/tumblr_oqgsdx2GPF1rldv4go1_1280.gif) center / cover ;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.auth-window {
    box-shadow: inset 0 0 20px rgba(240, 46, 170, 0.8);
    border-radius: 50px;
    color:rgb(158, 226, 0);
    font-size: 1.4rem;
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: anim-shadow 10s infinite;
}

.auth-window label {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

label p {
    width: 250px;
    text-align: center;
}
.auth-window input {
    background: linear-gradient(rgb(243, 243, 13), rgba(255, 115, 0, 0.473));
    border:  none;
    color: rgba(0, 0, 0, 0.719);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 10px;
    margin: 7px;
    width: 100%;
    height: 50px;
}

input:focus {
    text-decoration: none;
    box-shadow: 0 20px 40px rgba(230,230,10, 0.7);
    outline: none;
}

#switcher {
    width: 50px;
    height: 50px;
    background:rgb(17, 0, 255);
    border: 6px solid rgb(17, 0, 255);
    right: 10vw;
    position: absolute;
    transition: border 500ms;
    animation: anim-rotate 10s infinite;
}

#switcher:hover {
    border: 6px solid white;
    /* transform:  */
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#active-inner {
    width: 100%;
}


#inactive-inner {
    opacity: 0.6;
}

.submit {
    width: 50px;
    height: 50px;
    background: rgba(167, 167, 8, 0.7);
    box-shadow: inset 4px 4px 5px rgba(255, 255, 0, 0.7);
    border: none;
    border-radius: 50%;
    margin: 10px;
    font-size: 1.2rem;
}

#active-inner .submit:hover {
    background: rgba(255, 255, 0, 0.7);
}

#gallery {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    width: 300px;
    height: 400px;
    padding: 20px;
    box-shadow: 0 0 50px rgba(204, 240, 46, 0.4);
    background: rgb(150, 0, 150);
    color: white;
    display: flex;
    margin: 30px;
    flex-direction: column;
}

.gallery-item img {
    /* width: 100%; */
    height: 100%;
}

.gallery-img-container {
    flex: 3;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.gallery-content {
    flex: 1;
}


@keyframes anim-shadow{
    0% {
        background: rgb(82, 0, 82);
    }
    50% {
        background: rgb(92, 6, 63);
    }
    100% {
        background:rgb(82, 0, 82);
    }
}

@keyframes anim-rotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}